.banner_style {
	color: black;
	border-bottom: solid 3px #31b472; 
	display: flex;
	justify-content: center;
}

.title {
	font-size: 3.125rem;
	margin-bottom: 0.9375rem;
	margin-top: 2.5rem;
}

.logo {
	height: 2.8125rem;
	width: 2.8125rem;
	margin-top: 3rem;
}

.dot {
	color: #31b472;
	font-size: 3.125rem;
	font-weight: bold;
}


@media only screen and (max-width: 862px) {

	.banner_style {
		border-bottom: none;
	}

	.title {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}

	.logo {
		height: 2.8125rem;
		width: 2.8125rem;
		margin-top: 2rem;
	}
	
}

@media only screen and (max-width: 480px) {

	.banner_style {
		align-items: center;
	}
	
	.title {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 0.7rem;
	}

	.logo {
		height: 2.2rem;
		width: 2.2rem;
		margin-top: -0.3rem;
	}
	
}


@media only screen and (max-width: 340px) {

	.logo {
		height: 1.8rem;
		width: 1.8rem;
		margin-top: 0.2rem;
	}
	
	.title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

}