.categories {
	text-align: center;
	min-width: 34.375rem;
	padding-top: 1.875rem; 
	margin-left: 1.25rem; 
}
  
.categories_select {
	font: inherit;
	font-size: 1rem; 
	color: black;
	outline: none;
	background-color: white;
	border: 3px solid #31b472;
	border-radius: 5px;
	padding: 0.125rem 0.625rem; 
	margin-right: 0.9375rem; 
}
  
.reset_button {
	font: inherit;
	font-size: 0.9375rem; 
	color: black;
	background-color: white;
	border: 3px solid #31b472;
	border-radius: 5px;
	padding: 0.25rem 0.9375rem; 
	cursor: pointer;
}

.reset_button:active {
	background-color: #31b472;
	color: white;
	font-weight: bold;
}


@media only screen and (max-width: 900px) {

	.categories {
		margin: 0;
		min-width: 0;
		font-size: 16px;
	}

	.categories_select {
		margin: 0;
	}

	.reset_button {
		display: none;
	}

}