body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 310px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


@media only screen and (max-width: 1108px) {

  :root {
    font-size: 14px;
  }

}

@media only screen and (min-width: 862px) and (max-width: 980px) {

  :root {
    font-size: 13px;
  } 

}