.plant_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	margin: 1.25rem 1.25rem 0.9375rem 1.25rem;
}
  
.plant_item_cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
}
  
.plant_characteristics {
	list-style-type: none;
	padding: 0.625rem;
}
  
.plant_item_price {
	position: absolute;
	font-weight: 500;
	color: white;
	background-color: #31b472;
	border-radius: 1.25rem 1.25rem 1.25rem 0;
	padding: 0.9375rem;
	right: 0;
	top: 0;
}