.shopping_list {
	width: 100%;
	min-width: 390px;
}

.plant_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 2rem;
}

.cart_add_button {
	font-family: inherit;
	font-size: 1rem;
	font-weight: bolder;
	background-color: #31b472;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-bottom: 1.875rem;
	margin-top: 0;
	padding: 0.4375rem 0.9375rem;
}

.cart_add_button:active {
	color: #31b472;
	background-color: white;
}


@media only screen and (max-width: 626px) {

	.shopping_list {
		font-size: 18px;
		min-width: 0;
	}

}

@media only screen and (max-width: 599px) {

	.shopping_list {
		font-size: 16px;
	}

}

@media only screen and (max-width: 547px) {

	.shopping_list {
		font-size: 15px;
	}

}