.shopping_list {
	width: 100%;
	min-width: 390px;

}
  
.plant_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 2rem;
}
  
.cart_add_button {
	font-family: inherit;
	font-size: 1rem;
	font-weight: bolder;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-bottom: 1.875rem;
	margin-top: 0;
	background-color: #31b472;
	color: white;
	border-radius: 5px;
	padding: 0.4375rem 0.9375rem;
	border: none;
}
  

@media only screen and (max-width:480px) {
	.shopping_list {
		min-width: 0;
	}
}